{% extends 'base.html' %}
{% block content %}
  <div class="main">
  	<div class="container">
  		<div id="log" class="z-depth-1 grey lighten-4 row">
  				<div class='row'>
  					<div class='input-field col s12'>
              			<p style="font-size: 18px;">
                      Password was <b>successfully</b> reset!</br> 
                      You can login with new password.
                    </p>
            		</div>
            	</div>
              <div id="log-btn" class='row'>
                <a href="{% url 'login' %}" class='col s12 btn btn-large waves-effect light-blue darken-4'>Log In</a>
              </div>
          </form>
        </div>
      </div>
    
  </div>
{% endblock %}