{% extends 'base.html' %}
{% block content %}
  <div class="main">
  	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}
  	<div class="container">
  		<h4 id="heading" class="z-depth-1 light-blue darken-4">Forgot Password</h4>
      <p class="red-text">{{ form.non_field_errors }}</p>
  		<div id="log" class="z-depth-1 grey lighten-4 row">
  			<form id="log" class="col s12" method="POST">
  				{% csrf_token %}
  				<div class='row'>
  					<div class='input-field col s12'>
              			{{ form.email }}
             			<label for="{{ form.username.id_for_label }}">{{ form.email.label}}</label>
            		</div>
            	</div>
              <div id="log-btn" class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect light-blue darken-4'>Reset Password</button>
              </div>
          </form>
        </div>
      </div>
    
  </div>
{% endblock %}