{% load staticfiles %}
{% load static %}
{% get_media_prefix as STATIC_MEDIA %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html>
<html>
<head>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	
	<!--fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

	<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>

{% block header %}

{% endblock %}
</head>
<body>
	<div class="navbar-fixed">
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
		  {% if user.is_authenticated %}
		  <li><a href="/profile/">Profile</a></li>
		  <li><a href="{% url 'logout' %}">Logout</a></li>
		  {% else %}
		  <li><a href="{% url 'login' %}">Sign in</a></li>
		  {% endif %}

		</ul>

		<nav class="white" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="/" class="brand-logo"><img class="responsive-img" src="{{ STATIC_MEDIA }}fsc-logo-rec.png" style="height: 80px;" /></a>
				
				<div class="upper-nav right">
					<div class="phone"><a href="tel:604-564-2055">(604) 564-2055</a></div>&nbsp;
					<div class="social">
						<a href="https://www.facebook.com/filipinostylecarinderia/"><i class="fab fa-facebook-square"></i></a>

					</div>
				</div><br>
				<ul class="right hide-on-med-and-down">
					<li><a href="/">Home</a></li>
					<li><a href="/menus/">Pickup</a></li>
					<li><a href="https://www.skipthedishes.com/filipino-style-carinderia/order">Delivery</a></li>
					<li><a href="/contact/">Contact us</a></li>
					{% if user.is_authenticated %}
					<li><a class="dropdown-button btn" data-activates="dropdown1">Welcome {{ user.username }}!</a></li>
					{% else %}
					<li><a href="{% url 'signuppage' %}" class="dropdown-button btn" data-activates="dropdown1">Sign Up</a></li>
					{% endif %}
				</ul>
				<!--mobile markup-->
				<!-- <ul id="nav-mobile" class="sidenav">
					<li><a href="/showcase/">Showcase</a></li>
					<li><a href="#">About</a></li>
					<li><a href="/contact/">Contact US</a></li>
				</ul>
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
			</div>
		</nav>
	</div>

{% block content %}

{% endblock %}
	
	<footer class="page-footer black">
		<div class="container">
			<div class="row">
				<div class="col l3 s12">
					<br>
					<img src="{{ STATIC_MEDIA }}logo-white.png" height="150">
				</div>
				<div class="col l3 s12">
					<h5 class="white-text"><i class="material-icons left">rate_review</i>Recent Reviews</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text"><i class="material-icons left">store</i>Store Hours</h5>
					<ul>
						<li>Sun-Thurs: 9AM - 9PM</li>
						<li>Friday: 9AM - 8PM</li>
						<li>Saturday: Closed</li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text"><i class="material-icons left">contact_support</i>Contact Us</h5>
					<ul>
						<li>4942 Joyce St. Vancouver, BC, V5R 4G6</li>
						<li>Catering: <a class="white-text" href="tel:778-898-5254">(778) 898-5254</a></li>
						<li>Ordering: <a class="white-text" href="tel:604-564-2055">(604) 564-2055</a></li>
						<li>Email: <a class="white-text" href="mail:fsc@gmail.com">fsc@gmail.com</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright grey darken-3">
			<div class="container">
				<span>
					Copyright © 2018 Filipino Style Carinderia All rights reserved.
				</span>
				<span class="right">
					Design and Developed by: ohmcodes
				</span>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$(".dropdown-button").dropdown({
				inDuration: 300,
      			outDuration: 225,
				hover: true, // Activate on hover
				belowOrigin: true,
				alignment: 'left', // Displays dropdown with edge aligned to the left of button
      			stopPropagation: false, // Stops event propagation
      			constrainWidth: false, // Does not change width of dropdown to that of the activator
      			gutter: ($('.dropdown-button').width()*1)/3 - 5
			});
		});
	</script>


{% block script %}

{% endblock %}
</body>
</html>