{% extends 'base.html' %}


{% block header %}

{% endblock %}

{% block content %}
<div class="slider">
	<ul class="slides">
		<li>
			<img src=""> <!-- random image -->
			<div class="caption center-align">
				<h3 class="bordered">FILIPINO STYLE CARINDERIA</h3>
				<h5 class="light grey-text text-lighten-3">AUTHENTIC FILIPINO CUISINE IN VANCOUVER!</h5>
				<a href="{% if user.is_authenticated %}/booktable/{% else %}/login/?next=/booktable/{% endif %}" class="waves-effect waves-light btn"><i class="material-icons left">restaurant</i>Book a table</a>
			</div>
		</li>
		<li>
			<img src=""> <!-- random image -->
			<div class="caption left-align">
				<h3>Craving!?</h3>
				<h5 class="light grey-text text-lighten-3">Filipino foods like you've never tasted before.</h5>
				<a href="/menus/" class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i> Menu</a>
			</div>
		</li>
		<li>
			<img src=""> <!-- random image -->
			<div class="caption right-align">
				<h3>Hungry?</h3>
				<h5 class="light grey-text text-lighten-3">The best food in town at one of the best locations</h5>
				<a href="/menus/" class="waves-effect waves-light btn"><i class="material-icons left">shopping_basket</i>Pickup</a>
				<a href="https://www.skipthedishes.com/filipino-style-carinderia/order" class="waves-effect waves-light btn"><i class="material-icons left">local_shipping</i>Delivery</a>
			</div>
		</li>
		<li>
			<img src=""> <!-- random image -->
			<div class="caption center-align">
				<h3>Catering Services</h3>
				<h5 class="light grey-text text-lighten-3">View our menu list and Call now!</h5>
				<a href="/menus/#catering" class="waves-effect waves-light btn #c0996b"><i class="material-icons left">fastfood</i>Click for Menu</a>
				<h3><a href="tel:778-898-5254">(778)898-5254</a></h3>
			</div>
		</li>
		<li>
			<img src=""> <!-- random image -->
			<div class="caption center-align">
				<h3>Free Food!!!</h3>
				<h5 class="light grey-text text-lighten-3">Sign up and collect stamps on every order!</h5>
				<a href="{% url 'signuppage' %}" class="waves-effect waves-light btn #c0996b"><i class="material-icons left">local_play</i>Sign up now</a>
			</div>
		</li>

	</ul>
</div>
<div class="container">

	<div class="space-30"></div>
	<div class="row">
		<div class="col l6">
			<div class="center">
				<h3 class="title">Welcome to <span class="span-title">FSC</span></h3>
				<h5 class="subtitle">Our Little Story</h5>
				<p class="p-story">
                    I come from the great archipelago of the Philippines and it has always been my passion to cook for people. Back home, I had a restaurant and I really loved serving people authentic and traditional Filipino foods. Since the day that I've stepped on the great land of Canada, it has been my dream to start a restaurant here: not just to serve people, but to make known of the unique delicacies of my great country.
                </p>
			</div>
			<blockquote>
                 <span class="span-accent">C a r i n d e r i a</span> is a Tagalog word which means <i>"affordable restaurant".</i>
            </blockquote>
		</div>
		<div class="col l6">
			<img src="{{ STATIC_MEDIA }}chef2.jpg" class="responsive-img">
		</div>
	</div>
	<div class="space-30"></div>
</div>
<div class="parallax-container center valign-wrapper">
	<div class="parallax"><img src="{{ STATIC_MEDIA }}bg10.jpg">
	</div>
	<div class="container">
        <div class="row">
            <div class="col s8 text-left">
                <p class="lead">
                    <i>"Cooking is like painting or writing a song. Just as
                    there are only so many notes or colors, there are only so many flavours - it's how you combine them that sets you apart."</i>
                </p>
                <span class="lead">~Wolfgang Puck</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="space-30"></div>
	<div class="row">
		<div class="col l6">
			<img src="{{ STATIC_MEDIA }}bg1.jpg" class="responsive-img">
		</div>
		<div class="col l6">
			<div class="center">
				<h3 class="title">More on <span class="span-title">Us</span></h3>
				<h5 class="subtitle">Craving Story</h5>
				<p class="p-story">
                    Filipino Style Carinderia takes you on a delicious experience with their traditional and authentic Filipino dishes. We are a family-owned restaurant, Filipino, quality-halal meat, mouth-watering delicious, authentic, traditional cooking, and fair-priced meals. Feast on the Pancit Canton, the Sinigang Na Baka, and the Chicken Pastel!
                </p>
			</div>
		</div>
	</div>
	<div class="space-30"></div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="http://archives.materializecss.com/0.100.2/images/parallax2.jpg"></div>
</div>
<div class="container">
	<div class="space-30"></div>
	<div class="center">
		<h3 class="title">Quick <span class="span-title">Choices</span></h3>
		<h5 class="subtitle">Start your day with good taste</h5>
		<div>
			<a class="waves-effect waves-light btn category" data-cat="all">All</a>
			<a class="waves-effect waves-light btn category" data-cat="breakfast">Breakfast</a>
			<a class="waves-effect waves-light btn category" data-cat="lunch">Lunch</a>
			<a class="waves-effect waves-light btn category" data-cat="dinner">Dinner</a>
		</div>
	</div>
	<div class="space-30"></div>
	<div class="row">
		{% for item in foods %}
		<div class="col l4 menus {{ item.category_as_class|lower }}">
			<div class="card small">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="http://archives.materializecss.com/0.100.2/images/office.jpg">
			    </div>
				<div class="card-content">
					<a class="tooltipped activator right morevert" data-position="top" data-tooltip="More Info"><i class="material-icons">more_vert</i></a>
					<span class="card-title grey-text text-darken-4">{{ item.fname }}</span>
					<p>
						<a href="!#" class="tooltipped" data-position="top" data-tooltip="Rating">
							<i class="material-icons text-yellow tiny">star</i>
							<i class="material-icons text-yellow tiny">star</i>
							<i class="material-icons text-yellow tiny">star</i>
							<i class="material-icons text-yellow tiny">star</i>
							<i class="material-icons text-yellow tiny">star</i>
							(4.5) 12 reviews
						</a> 
					</p>
					<p>
						{% if item.price > 0 %}
						<a class="btn waves-effect right">$ {{ item.price }}</a>
						{% else %}
						<a class="choices tooltipped" data-position="top" data-delay="50" data-tooltip="Small">S</a>&nbsp;<span class="price">${{ item.price_s }}</span>&nbsp;
						<a class="choices tooltipped" data-position="top" data-delay="50" data-tooltip="Medium">M</a>&nbsp;<span class="price">${{ item.price_m }}</span>&nbsp;
						<a class="choices tooltipped" data-position="top" data-delay="50" data-tooltip="Large">L</a>&nbsp;<span class="price">${{ item.price_l }}</span>&nbsp;
						{% endif %}
					</p>

				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{ item.fname }}</span>
					{% for cat in item.category_as_list %}
					<div class="chip">{{ cat }}</div>
					{% endfor %}
					<p>{{ item.desc }}</p>
					<p>{{ item.other_info }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
	<div class="space-30"></div>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		$('.chips').material_chip();

		$('.slider').slider();

		$('.parallax').parallax();


		$('.category').click(function(){
			cat = $(this).attr('data-cat');
			if(cat=="all"){
				$('.menus').show();
			} else {
				$('.menus').hide();	

				if($('.menus').hasClass(cat)){
					$('.'+cat).show();
				}
			}
			
		});
    });
</script>
{% endblock %}